<div *ngIf="config && config.showCorners" class="minCornerRowTop"><span class="minCornerLeft" [class.active]="mins.topLeft">&middot;</span><span class="minCornerRight" [class.active]="mins.topRight">&middot;</span></div>
<div class="ion-padding char-wrapper" flex-col flex-between-center>
    <ng-container *ngFor="let row of rows; let rowIdx = index">
        <div flex-row class="char-row">
            <ng-container *ngFor="let col of row; let colIdx = index">
                <span flex-item [class.active]="isActive(row, col, colIdx, rowIdx)" class="char">{{col}}</span>
            </ng-container>
        </div>
    </ng-container>
</div>
<div *ngIf="config && config.showCorners" class="minCornerRowBot"><span class="minCornerLeft" [class.active]="mins.botLeft">&middot;</span><span class="minCornerRight" [class.active]="mins.botRight">&middot;</span></div>
